.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: var(--md);
}

.title {
  text-transform: uppercase;
  border-bottom: 3px solid var(--main-color);
  color: var(--third-color);
  font-size: var(--xl);
}

.score {
  font-size: var(--lg);
}

.red {
  color: var(--main-color);
}
