@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary-color: rgb(251, 251, 251);
  --secondary-color: rgb(25, 25, 25);
  --third-color: rgb(234, 234, 234);
  --main-color: rgb(235, 111, 117);
  --sm: 0.5rem;
  --md: 1rem;
  --lg: 2rem;
  --xl: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}
